/* Variables */
/* Golden Brown rgb(134,99,29) */
/* Black Chocolate rgb(44,39,33) */
/* Alabaster rgb(238,238,232) */
/* General Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background-color: #EEEEE8;
}

body {
  overflow-x: hidden;
  /* hides vertical nav */
  font-size: 16px;
  /* base font size for ems */
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  background-color: rgba(238, 238, 232, 0.9);
  border-bottom: 1px solid rgba(134, 99, 29, 0.1);
  /* Animations */
}
header figure {
  width: 25px;
  margin: 0.625em 0 0.625em 1em;
}
@media (min-width: 768px) {
  header figure {
    margin: 0.625em 0 0.625em 1.5em;
  }
}
header .nav-links {
  width: 40%;
  position: absolute;
  right: 0;
  height: 25%;
  top: 12vh;
  background-color: #EEEEE8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  border-radius: 0 0 0 5px;
  z-index: 300;
  border-left: 1px solid rgba(134, 99, 29, 0.1);
  border-bottom: 1px solid rgba(134, 99, 29, 0.1);
}
@media (min-width: 425px) {
  header .nav-links {
    width: 30%;
  }
}
@media (min-width: 768px) {
  header .nav-links {
    width: 100%;
    position: static;
    flex-direction: row;
    align-items: center;
    transform: none;
    transition: none;
    border: none;
  }
}
header .nav-links li {
  opacity: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  header .nav-links li {
    opacity: 1;
    list-style-type: none;
  }
}
header .nav-links li a {
  color: #86631D;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  text-align: right;
  text-transform: uppercase;
  margin-left: 1.25em;
}
@media (min-width: 768px) {
  header .nav-links li a {
    margin: 0 1em 0 0;
    padding: 0.625em;
  }
}
header .menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.125em;
  height: 3.125em;
  transition: all 0.5s ease-in-out;
  margin-right: 0.625em;
}
@media (min-width: 768px) {
  header .menu-btn {
    display: none;
  }
}
header .menu-btn .menu-btn_burger {
  width: 1.625em;
  height: 2px;
  background-color: #86631D;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
header .menu-btn .menu-btn_burger::before,
header .menu-btn .menu-btn_burger::after {
  content: "";
  position: absolute;
  width: 1.625em;
  height: 2px;
  background-color: #86631D;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
header .menu-btn .menu-btn_burger::before {
  transform: translateY(-8px);
}
header .menu-btn .menu-btn_burger::after {
  transform: translateY(8px);
}
header .menu-btn.open .menu-btn_burger {
  transform: translateX(-50px);
  background: transparent;
}
header .menu-btn.open .menu-btn_burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
header .menu-btn.open .menu-btn_burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
header .nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* HERO SECTION */
section.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  section.hero {
    font-size: 18px;
  }
}

.hero-img {
  background-image: url("../img/jade-rectangle.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  filter: blur(3px);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  padding: 0.625em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
}
.hero-content h1, .hero-content p {
  color: #EEEEE8;
  text-shadow: 2px 2px 4px #2C2721;
}
.hero-content h1 {
  font-family: "Overpass", sans-serif;
  font-size: 2.375em;
  width: 100%;
}
.hero-content p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  width: 90%;
  text-align: center;
  line-height: 1.5em;
}

/* MISSION */
.mission .mission-content {
  padding: 3em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .mission .mission-content {
    padding: 3em;
  }
}
.mission .mission-content p {
  width: 100%;
  text-align: left;
  padding: 0.625em 0.625em;
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  line-height: 1.5em;
  color: #2C2721;
  background-color: #EEEEE8;
  border-radius: 5px;
}
.mission .mission-content p span {
  font-size: 125%;
  font-weight: 700;
  color: #86631D;
  font-family: "Overpass", sans-serif;
}

/* FIRST IMAGE SECTION */
.img-2 {
  background-image: url("../img/red-pattern.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
}
@media (min-width: 768px) {
  .img-2 {
    background-image: url("../img/patterned-chairs-full.jpg");
    background-position: center center;
  }
}

/* CALL TO ACTION SECTION */
.call-to-action {
  padding: 2em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .call-to-action {
    font-size: 18px;
  }
}
.call-to-action h2 {
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-size: 1.625em;
  width: 100%;
  color: #2C2721;
  padding: 0.625em 0.625em;
}
@media (min-width: 768px) {
  .call-to-action h2 {
    padding: 0.625em 0.625em 0 0.625em;
  }
}
.call-to-action p {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  line-height: 1.625em;
  color: #2C2721;
  padding: 0 0.625em 0.625em 0.625em;
}
.call-to-action a {
  padding: 0.625em 0.3125em;
  border: 2px ridge #86631D;
  border-radius: 5px;
  font-size: 1em;
  text-decoration: none;
  font-weight: 700;
  color: #86631D;
  margin: 0.625em 0 1.25em 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 40%;
  text-transform: uppercase;
}

/* SECOND IMAGE SECTION */
.img-3 {
  background-image: url("../img/white-full.jpg");
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
}
@media (min-width: 768px) {
  .img-3 {
    background-image: url("../img/white.jpg");
  }
}

/* FORM SECTION */
.email-list {
  padding: 2em 1.5em;
}
.email-list form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 680px) {
  .email-list form {
    justify-content: space-between;
    align-items: flex-end;
  }
}
.email-list form .form-text {
  width: 100%;
}
@media (min-width: 680px) {
  .email-list form .form-text {
    width: 40%;
    margin-left: 1em;
  }
}
.email-list form .form-text h3 {
  width: 100%;
  text-align: left;
  font-family: "Overpass", sans-serif;
  color: #2C2721;
  font-size: 1.375em;
}
.email-list form .form-text p {
  width: 100%;
  text-align: left;
  font-family: "Roboto", sans-serif;
  color: #2C2721;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
  padding-bottom: 0.625em;
}
@media (min-width: 680px) {
  .email-list form .form-text p {
    padding-bottom: 0;
  }
}
.email-list form .form-inputs {
  width: 100%;
}
@media (min-width: 680px) {
  .email-list form .form-inputs {
    width: 50%;
  }
}
.email-list form .form-inputs input[type=text] {
  box-sizing: border-box;
  width: 95%;
  color: #EEEEE8;
  padding: 1em;
  border: none;
  background-color: rgba(134, 99, 29, 0.3);
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border-radius: 5px;
}
@media (min-width: 680px) {
  .email-list form .form-inputs input[type=text] {
    padding: 0.75em;
    font-size: 0.89em;
  }
}
.email-list form .form-inputs input[type=submit] {
  box-sizing: border-box;
  color: #2C2721;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  border: 1px solid #2C2721;
  background-color: #EEEEE8;
  margin: 0.3125em 0 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 500;
}
@media (min-width: 680px) {
  .email-list form .form-inputs input[type=submit] {
    font-size: 0.89em;
    margin-bottom: 0;
  }
}

/* PRODUCTS */
main .products {
  padding: 3.125em 1.25em 0 1.25em;
  border-bottom: 1px solid rgba(134, 99, 29, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  main .products {
    font-size: 18px;
    padding: 3.125em 1.25em 3.125em 1.25em;
  }
}
@media (min-width: 1024px) {
  main .products {
    justify-content: space-around;
    border-bottom: none;
  }
}
main .products h2.tag-line {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.625em;
  line-height: 1.5em;
  color: #2C2721;
  font-weight: 400;
  padding: 0 0.625em 3.125em 0.625em;
}
@media (min-width: 768px) {
  main .products h2.tag-line {
    width: 80%;
  }
}
main .products p.subtitle {
  position: relative;
  z-index: 100;
  color: #2C2721;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
main .products p.subtitle:before {
  border-top: 1px solid rgba(134, 99, 29, 0.3);
  content: "";
  margin: 0 auto;
  /* this centers the line to the full width specified */
  position: absolute;
  /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -100;
}
main .products p.subtitle span {
  background: #EEEEE8;
  padding-right: 0.3125em;
}
main .products .product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 1024px) {
  main .products .product-list {
    align-items: flex-start;
  }
}
main .products .product-list figure {
  width: 100%;
  padding-top: 1.25em;
}
@media (min-width: 768px) {
  main .products .product-list figure {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  main .products .product-list figure {
    width: 50%;
    padding-bottom: 1.25em;
  }
}
main .products .product-list figure img.chair-img {
  width: 100%;
  border-radius: 5px;
}
main .products .product-list .chair-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  main .products .product-list .chair-info {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  main .products .product-list .chair-info {
    width: 50%;
    justify-content: flex-start;
    padding: 1.5em 1em;
  }
}
main .products .product-list .chair-info a.chair-name {
  text-decoration: none;
  width: 50%;
}
@media (min-width: 1024px) {
  main .products .product-list .chair-info a.chair-name {
    width: 51%;
  }
}
main .products .product-list .chair-info a.chair-name h3 {
  text-align: left;
  font-family: "Overpass", sans-serif;
  font-size: 1.375em;
  color: #2C2721;
  margin: 0;
}
@media (min-width: 1024px) {
  main .products .product-list .chair-info a.chair-name h3 {
    width: 51%;
    padding-left: 0.5em;
  }
}
main .products .product-list .chair-info .chair-price {
  width: 50%;
  text-align: right;
  padding-right: 0.5em;
  color: #86631D;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1024px) {
  main .products .product-list .chair-info .chair-price {
    width: 51%;
    text-align: left;
    padding-left: 0.625em;
    .
         padding-right: 0;
  }
}
main .products .product-list .chair-info .chair-description {
  width: 100%;
  padding: 0 0 1.875em 0;
  text-align: left;
  color: #2C2721;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}

/* Waitlist */
main.waitlist {
  background-color: #EEEEE8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 2em 1.5em;
}
@media (min-width: 768px) {
  main.waitlist {
    font-size: 18px;
  }
}
main.waitlist h2 {
  width: 100%;
  text-align: center;
  font-family: "Overpass", sans-serif;
  color: #2C2721;
  font-size: 1.625em;
  padding-bottom: 0.5em;
}
main.waitlist p {
  width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #2C2721;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
  padding-bottom: 3.125em;
}
@media (min-width: 768px) {
  main.waitlist p {
    padding-bottom: 1em;
  }
}
main.waitlist form.order-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  main.waitlist form.order-form {
    padding: 1em;
  }
}
main.waitlist form.order-form .text {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
}
main.waitlist form.order-form .text label {
  width: 100%;
  color: #2C2721;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding-bottom: 0.25em;
}
@media (min-width: 768px) {
  main.waitlist form.order-form .text label {
    width: 20%;
    text-align: right;
    padding-right: 0.5em;
  }
}
main.waitlist form.order-form .text input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #EEEEE8;
  padding: 0.625em;
  border: none;
  background-color: rgba(134, 99, 29, 0.3);
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border-radius: 0.3125em;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  main.waitlist form.order-form .text input[type=text] {
    width: 70%;
  }
}
main.waitlist form.order-form .drop-down {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
}
main.waitlist form.order-form .drop-down label {
  width: 100%;
  color: #2C2721;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding-bottom: 0.25em;
}
@media (min-width: 768px) {
  main.waitlist form.order-form .drop-down label {
    width: 20%;
    text-align: right;
    padding-right: 0.5em;
  }
}
main.waitlist form.order-form .drop-down select#chair {
  box-sizing: border-box;
  width: 100%;
  color: #EEEEE8;
  padding: 1em;
  border: none;
  background-color: rgba(134, 99, 29, 0.3);
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  main.waitlist form.order-form .drop-down select#chair {
    width: 70%;
  }
}
main.waitlist form.order-form .text-area {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
main.waitlist form.order-form .text-area label {
  width: 100%;
  color: #2C2721;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding-bottom: 0.25em;
}
@media (min-width: 768px) {
  main.waitlist form.order-form .text-area label {
    width: 20%;
    text-align: right;
    padding-right: 0.5em;
  }
}
main.waitlist form.order-form .text-area #comments {
  box-sizing: border-box;
  width: 100%;
  color: #EEEEE8;
  padding: 1em;
  border: none;
  background-color: rgba(134, 99, 29, 0.3);
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  border-radius: 5px;
  margin-bottom: 0.3125em;
}
@media (min-width: 768px) {
  main.waitlist form.order-form .text-area #comments {
    width: 70%;
  }
}
main.waitlist form.order-form input[type=submit] {
  box-sizing: border-box;
  color: #2C2721;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #2C2721;
  background-color: #EEEEE8;
  margin: 1em 0 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 700;
}

/* Footer */
footer {
  background-color: #86631D;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 1.25em 1.25em 1.25em;
}
@media (min-width: 680px) {
  footer {
    font-size: 18px;
  }
}
footer .contact {
  width: 100%;
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .contact .email {
  width: 50%;
}
footer .contact .email a {
  font-size: 1em;
  color: #EEEEE8;
  text-decoration: none;
}
footer .contact .email a p {
  font-family: "Roboto", sans-serif;
}
footer .contact .icons {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 50%;
}
footer .contact .icons a {
  font-size: 1.125em;
  color: #EEEEE8;
  margin: 0 0.5em;
}

/*# sourceMappingURL=main.css.map */
