@use 'variable';
@use 'mixins';


/******************** CHAIR PAGE ********************/

.chairs {
  @include mixins.flex(center, center, wrap);
  padding: 3.125em 1.25em 0 1.25em;
  border-top: 1px solid variable.$golden-brown-border;

  @media (min-width: 768px) {
    padding: 3.125em 0.5em 1.25em 0.5em;
    font-size: 18px;
  }

  h2.tag-line {
    max-width: 35ch;
    padding: 0 0.625em 2em 0.625em;
    font-family: variable.$body-font;
    font-size: 1.625em;
    line-height: 1.5em;
    color: variable.$black-chocolate;
    font-weight: 400;
    text-align: center;
  }

  p.subtitle {
    position: relative;
    z-index: 100;
    width: 100%;
    padding: 0 1em;
    font-family: variable.$body-font;
    font-size: 1em;
    color: variable.$black-chocolate;
    line-height: 1.5em;
    font-weight: 200;
    text-transform: uppercase;

    @media (min-width: 768px) {
     width: 90%;
    }

    @media (min-width: 1024px) {
     width: 85%;
    }

    &:before {
      position: absolute; //positioning must be absolute here, and relative positioning must be applied to the parent
      top: 50%; left: 0; right: 0; bottom: 0;
      width: 95%;
      margin: 0 auto; //this centers the line to the full width specified
      z-index: -100;
      border-top: 1px solid variable.$golden-brown-border;
      content:"";
    }

    span {
      background: variable.$alabaster;
      padding-right: 0.3125em;
    }
  }

  .chair-list {
    @include mixins.flex(center, center, wrap);

    @media (min-width: 768px) {
      @include mixins.flex(space-around, center, wrap);
      font-size: 16px;
    }

    .chair-wrapper {
      @include mixins.flex(center, center, wrap);
      width: 90%;

      @media (min-width: 768px) {
        width: 45%;
        padding: 1em;
      }

      figure {
        width: 90%;
        padding-top: 1.25em;

        @media (min-width: 1024px) {
          width: 70%;
        }

        a {

          &:hover {
            opacity: 0.5;
          }

          img.chair-img {
            width: 100%;
            border-radius: 5px;
          }
        }
      }

      .chair-info {
        width: 90%;
        @include mixins.flex(space-around, center, wrap);

        @media (min-width: 768px) {
          margin: 0 0.5em;
        }

        @media (min-width: 1024px) {
          width: 70%;
        }

        a.chair-name {
          text-decoration: none;
          width: 50%;
          color: variable.$black-chocolate;

          &:hover {
            text-decoration: underline;
          }

          @media (min-width: 768px) {
            width: 100%;
          }

          h3 {
            margin: 0;
            font-family: variable.$header-font;
            font-size: 1.375em;
            color: variable.$black-chocolate;
            text-align: left;
          }
        }

        .chair-price {
          width: 50%;
          padding-right: 0.5em;
          font-family: variable.$body-font;
          font-size: 1em;
          color: variable.$golden-brown;
          text-align: right;

          @media (min-width: 768px) {
            width: 100%;
            text-align: left;
          }
        }

        .chair-description {
          width: 100%;
          padding: 0 0 1.875em 0;
          font-size: 1em;
          font-family: variable.$body-font;
          line-height: 1.5em;
          color: variable.$black-chocolate;
          text-align: left;
        }
      }
    }
  }
}
