@use 'variable';
@use 'mixins';


/******************** Footer ********************/

footer {
  @include mixins.flex(center, center, wrap);
  width: 100%;
  padding: 0em 1em;
  margin-top: 1em;
  background-color: variable.$golden-brown;
  min-height: 10vh;

  @media (min-width: 768px) {
    font-size: 18px;
    margin-top: 0;
  }

  @media (min-width: 1024px) {
    padding: 0em 2em;
  }

  .contact {
    @include mixins.flex(space-between, flex-end, nowrap);
    width: 100%;

    .email {
      width: 50%;

      a {
        font-size: 1em;
        color: variable.$alabaster;
        text-decoration: none;

        p {
          font-family: variable.$body-font;
        }
      }
    }

    .icons {
      @include mixins.flex(flex-end, baseline, nowrap);
      width: 50%;

      a {
        font-size: 1.125em;
        color: variable.$alabaster;
        margin: 0 0.5em;

        &:hover {
          font-size: 125%;
        }
      }
    }
  }
}
