/***** Variables *****/

/* colors */
$golden-brown: #86631D; /* rgb(134, 99, 29) */
$black-chocolate: #2C2721; /* rgb(44, 39, 33) */
$alabaster: #EEEEE8; /* rgb(238, 238, 232) */
$golden-brown-border: rgba(134, 99, 29, 0.1);
$golden-brown-form: rgba(134, 99, 29, 0.3);

/* fonts */
$header-font: 'Overpass', sans-serif;
$body-font: 'Roboto', sans-serif;
