@use 'variable';
@use 'mixins';
@use 'general';
@use 'header';
@use 'chairs';
@use 'pre-order';
@use 'footer';


/******************** HOME PAGE ********************/

/***** HERO SECTION *****/

section.hero {
  @include mixins.flex(center, center, nowrap);
  height: 100vh;
  background-image: url("../img/jade-rectangle.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;

  @media (min-width: 768px){
    font-size: 20px;
  }

  @media (min-width: 1024px){
    font-size: 24px;
  }

  @media (min-width: 1200px){
    background-position: bottom center;
  }
}

.hero-content {
  @include mixins.flex(center, center, wrap);

  h1, p {
    color: variable.$alabaster;
    text-shadow: 2px 2px 4px variable.$black-chocolate;
    width: 100%;
  }

  h1 {
    font-family: variable.$header-font;
    font-size: 2.375em;
    width: 100%;
    text-align: center;
  }

  p {
    font-family: variable.$body-font;
    font-size: 1.125em;
    width: 90%;
    text-align: center;
    line-height: 1.5em;
  }
}



/***** about *****/

.about {
  padding: 3em 2em;

  @media (min-width: 768px){
    @include mixins.flex(center, center, wrap);
    font-size: 18px;
  }

  @media (min-width: 1024px){
    font-size: 20px;
  }

  .mission-content {
    @include mixins.flex(center, center, wrap);
    width: 100%;

    .col {
      max-width: 65ch;

      @media (min-width: 768px){
        max-width: 75ch;
      }

      @media (min-width: 1024px){
        max-width: 85ch;
      }

      p {
        text-align: left;
        height: auto;
        width: 100%;
        font-family: variable.$body-font;
        font-size: 1em;
        line-height: 1.5em;
        color: variable.$black-chocolate;
        padding: 0.625em;

        & span {
          font-size: 125%;
          font-weight: 700;
          color: variable.$golden-brown;
          font-family: variable.$header-font;
        }
      }
    }
  }
}


/***** FIRST IMAGE *****/

.img-2 {
  height: 100vh;
  width: 100%;
  background-image: url("../img/patterned-chairs-full-crop.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;

  @media (min-width: 1024px) {
    background-position: center bottom;
  }
}



/***** CALL TO ACTION SECTION *****/

.call-to-action {
  @include mixins.flex(center, center, nowrap);
  padding: 3em 2em;

  @media (min-width: 1024px) {
    font-size: 18px;
  }

  .call-to-action-text {
    max-width: 48ch;
    @include mixins.flex(center, center, wrap);

    h2 {
      width: 100%;
      font-family: variable.$header-font;
      font-size: 1.625em;
      color: variable.$black-chocolate;
      text-align: center;
    }

    p {
      width: 85%;
      font-family: variable.$body-font;
      font-size: 1.125em;
      line-height: 1.625em;
      color: variable.$black-chocolate;
      text-align: center;
    }
  }

  a {
    width: 125px;
    padding: 0.625em 0.3125em;
    margin: 0.625em 0 0 0;
    border: 2px ridge variable.$golden-brown;
    border-radius: 5px;
    text-decoration: none;
    font-family: variable.$body-font;
    font-size: 1em;
    font-weight: 700;
    color: variable.$golden-brown;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-color: variable.$golden-brown;
      color: variable.$alabaster;
    }

    @media (min-width: 768px) {
      width: 150px;
    }

    @media (min-width: 1024px) {
      min-width: 215px;
    }
  }
}



/***** SECOND IMAGE SECTION *****/

.img-3 {
  height: 100vh;
  width: 100%;
  background-image: url("../img/white-full.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;

  @media (min-width: 1024px) {
    background-image: url("../img/white-square.jpg");
    background-position: center center;
  }
}



/***** EMAIL FORM SECTION *****/

.email-list {
  @include mixins.flex(center, center, nowrap);
  padding: 3em 2em;


  form {
    width: 80%;
    @include mixins.flex(center, center, wrap);



    @media (min-width: 1024px) {
      @include mixins.flex(space-between, center, wrap);
      width: 80%;
    }

    .form-text {
      @include mixins.flex(center, center, wrap);
       width: 100%;

      @media (min-width: 1024px) {
        width: 45%;
        font-size: 18px;
      }

      h3 {
        width: 100%;
        text-align: left;
        font-family: variable.$header-font;
        font-size: 1.375em;
        color: variable.$black-chocolate;

        @media (min-width: 1024px) {
          margin-left: 2.25em;
        }
      }

      p {
        width: 100%;
        padding-bottom: 0.625em;
        font-family: variable.$body-font;
        color: variable.$black-chocolate;
        font-size: 1em;
        line-height: 1.5em;
        font-weight: 300;
        text-align: left;

        @media (min-width: 1024px) {
          margin-left: 3em;
        }
      }
    }

    .form-inputs {
      @include mixins.flex(flex-start, center, wrap);
      width: 100%;

      @media (min-width: 1024px) {
        width: 50%;
      }

      input[type=text] {
        width: 100%;
        border-radius: 5px;
        border: none;
        padding: 1em;
        background-color: variable.$golden-brown-form;
        font-family: variable.$body-font;
        font-size: 1em;
        color: variable.$black-chocolate;

        &::placeholder {
          color: variable.$alabaster;
        }

        &:focus {
          outline-color: variable.$black-chocolate;
        }
      }

      input[type=submit] {
        margin: 0.3125em 0 0 0;
        padding: 0.25em 0.5em;
        border-radius: 5px;
        border: 0.5px solid variable.$black-chocolate;
        background-color: variable.$alabaster;
        font-family: variable.$body-font;
        font-size: 1em;
        font-weight: 500;
        color: variable.$black-chocolate;

        &:hover {
          background-color: variable.$black-chocolate;
          color: variable.$alabaster;
        }
      }
    }
  }
}
